.logo {
    font-size: 0.8rem;
    display: flex;
    justify-self: start;
    cursor: pointer;
    align-items: center;
    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: bold;

    align-items: center;
    justify-content: left;
    margin-left: 15px;
}

.logo-icon {
    font-size: 2.8rem;
    display: flex;
    margin-right: 10px;
}
.chat__btn{
    margin-right: 10px;
    display: flex;
    font-size: 1.24rem;
    justify-content: center;
    align-items: center;
}
.login__btn {
    border-radius: 1.4rem;
}
.btn-gr{
    display: flex;
}