.sidebar__{
    height: 100%;
    background-color: #f7f7f7;
    width: 225px;
    /* position: fixed; */
    position: relative;
    /* top: 80px; */
    top : 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
}
.sidebar_ctn{
    overflow: auto;
    height: 76vh;
    width: 100%;
}
.sidebar__item{
    /* #0d6efd */
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 80%;
    height: 40px;
    border-radius: 1rem;
}
.item_name{
    text-decoration: none;
    color: black;
}
.color__blue{
    background-color: #0d6efd;
    color: #fff !important;
}
.sidebar__footer{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.back__btn{
    border: none;
    /* background-color: #fff; */
    margin-top: auto;
    margin-bottom: auto;
    font-family: inherit;
    
}
.avt-img{
    width: 3.4rem;
    margin-left: 1rem;
    border-radius: 2rem;
}