.ochat{
    width: 98%;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgb(225, 225, 225);
    padding: 10px 20px;
}
.ochat>h4{
    color: blue;
}

.framechat{
    background-color: rgb(245, 245, 245);
    height: 100%;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 20px;
}
.container_noti{
    height: 600px;
}
.row_noti{
    height: 100%;
}
